PORT=3000
DEBUG=false
CRAWLEE_MEMORY_MBYTES=2048

WB_SELLER_URL=
WB_CRAWLER_CRON=0 */12 * * *

OZON_SELLER_URL=
OZON_CRAWLER_CRON=0 */12 * * *
OZON_MAX_REQUESTS=1000
OZON_MAX_CONCURRENCY=100
OZON_SCROLL_TIMES=15
OZON_TIME_BETWEEN_SCROLLS=500
